#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.jrtc
*.java
*.class
*.info
*.properties

/out/
/JavaRushPlugin.properties
/Инструкция.png
/out.log
/hs_err_pid736.log
/hs_err_pid2951.log
/jackson-annotations-2.10.1.jar
/jackson-core-2.10.1.jar
/jackson-databind-2.10.1.jar
/JavaRushTasks.iml
/out.log.*
/slf4j-api-1.6.2.jar
/slf4j-api-1.7.29.jar
/slf4j-log4j13-1.0.1.jar
/slf4j-simple-1.6.2.jar
/4.JavaCollections/4.JavaCollections.iml
/8.Games/lib/desktop-game-engine.jar
