<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>  
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34249278?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Астрахань</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">от 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34249095?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">от 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34647969?query=java%20Odessa">Android-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО SISHUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34399063?query=java%20Odessa">Middle Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ТОВ БЕМОБІ УКРАЇНА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34625702?query=java%20Odessa">Javascript (ES6) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Devsteam.mobi</td> 
     <td class="salary">11 200-28 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34611231?query=java%20Odessa">IOS-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Oxiwyle</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/33834485?query=java%20Odessa">Senior / Middle Android Разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">VicMan</td> 
     <td class="salary">2 500-3 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34536688?query=java%20Odessa">Java Developer with Camunda BPM</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34302724?query=java%20Odessa">QA Automation (Java)</a></td> 
     <td class="city">Минск, Немига</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34697844?query=java%20Odessa">Водитель</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Парк такси</td> 
     <td class="salary">12 000-18 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/34627182?query=java%20Odessa">Junior QA Automation Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП CloudBees</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055119">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">А3</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043693">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054911">Java-разработчик (Java developer)</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">MyWed</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054969">Разработчик Java</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">OptiSystems</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054524">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053786">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YLab</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055210">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Корона Авто</td> 
     <td class="salary">От 160 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054170">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054633">Middle Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054863">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055216">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Neoflex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055261">Java - разработчик</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">ServiceHUB</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032800">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054935">Java Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Корпорация "Галактика"</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053144">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044188">Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054706">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055057">Java developer (Big Data)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054876">TeamLead / Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054622">Java Developer</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054634">Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055226">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HRlab</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055242">Team Lead (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ITFinancе</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055163">Middle+/Senior Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxilect</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055271">Стажер-разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИЦ «Ай-Теко»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055119">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">А3</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043693">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054911">Java-разработчик (Java developer)</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">MyWed</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054969">Разработчик Java</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">OptiSystems</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054524">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053786">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YLab</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055210">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Корона Авто</td> 
     <td class="salary">От 160 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054170">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054633">Middle Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054863">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055216">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Neoflex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055261">Java - разработчик</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">ServiceHUB</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032800">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054935">Java Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Корпорация "Галактика"</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053144">Java-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000044188">Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054706">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055057">Java developer (Big Data)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054876">TeamLead / Senior Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054622">Java Developer</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054634">Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055226">Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HRlab</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055242">Team Lead (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ITFinancе</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055163">Middle+/Senior Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxilect</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055271">Стажер-разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИЦ «Ай-Теко»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053650">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СберЛогистика</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055271">Стажер-разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИЦ «Ай-Теко»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043611">Backend Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">КУРС</td> 
     <td class="salary">От 190 000 до 330 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053732">Team Lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054526">Junior java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051352">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055197">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Уральский Банк реконструкции и развития</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054669">Senior Java Developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033185">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МойСклад</td> 
     <td class="salary">От 140 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034935">High Middle Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">От 110 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055186">Backend разработчик (Java)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">MyTona</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052263">Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Robusta</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048117">Java-разработчик (senior/middle)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TecForce</td> 
     <td class="salary">От 120 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039958">Kotlin/Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">United Traders</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054927">Java developer/Senior Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wanted.</td> 
     <td class="salary">От 3 000 до 4 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054665">Middle Java Developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054668">Java-лабарь от Бога.</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054739">Ведущий Java-разработчик (Java EE)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Русфинанс Банк</td> 
     <td class="salary">От 100 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043199">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055143">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ЦРТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051682">Team lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ГК «ОБОЗ»</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054939">Senior Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary">От 130 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049925">Team Lead Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RBS Payments</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053271">Java Backend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032430">Java/Web разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">AgriTask</td> 
     <td class="salary">От 1 000 до 2 800 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048842">Senior Java/Kotlin Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Spectrum</td> 
     <td class="salary">От 130 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055141">Senior Java/Kotlin разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxilect</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053147">Java-разработчик на проект Cбербанк Бизнес Онлайн</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053146">Senior Java Developer (AI/NLP систем)</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055075">Разработчик Android (Java || Kotlin)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055131">Java/Scala разработчик (Big Data)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">До 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054462">QA Automation Engineer (Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028469">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054724">Senior/Middle Java Developer (ASAP, удаленка)</a></td> 
     <td class="city"></td> 
     <td class="companyName">TopInt</td> 
     <td class="salary">От 150 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054749">Full stack developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Better Bunch</td> 
     <td class="salary">До 5 600 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054940">Java‑разработчик в проект «Восток»</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054715">Senior Full Stack Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055090">Technical Leader Java (Grails / Cuba Platform)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054578">Senior vue.js fullstack developer (java web based B2B service)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Avax</td> 
     <td class="salary">От 2 900 до 3 750 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051936">Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053143">Fullstack-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055082">Senior Full-Stack разработчик (JS)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Exadel</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054961">Разработчик Scala / Middle Scala Developer (Java / C++ / С# / Python)</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051836">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Gradient</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054670">Senior DevOps Engineer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055265">Системный интегратор/программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HRlab</td> 
     <td class="salary">От 80 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054870">QA Automation engineer (Специалист по автоматизированному тестированию)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055182">Ведущий разработчик, Senior</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">ТомскАСУпроект</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054742">Программист</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Персонал-Консалтинг</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055022">Программист Atlassian (Junior)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Телеконтакт</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055217">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СберЛогистика</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049130">Backend разработчик (Senior)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054705">Инженер сопровождения</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055155">Android Framework Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055203">Full-stack developer</a></td> 
     <td class="city">Ларнака</td> 
     <td class="companyName">iTech Capital</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054588">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ПСБ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054582">Преподаватель курса Senior Android developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">OTUS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054892">Android-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053941">Android разработчик</a></td> 
     <td class="city">Симферополь</td> 
     <td class="companyName">Ideas World</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043823">Android-разработчик</a></td> 
     <td class="city">Магнитогорск</td> 
     <td class="companyName">Amigoweb</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054979">Senior Fullstack Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054694">Full-Stack разработчик. Indeed.com Japan (Токио, Япония, Релокация)</a></td> 
     <td class="city">Токио</td> 
     <td class="companyName">MPDigital</td> 
     <td class="salary">От 10 000 до 15 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054719">QA Automation Engineer (Billing)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055159">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CV Recruitment</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054223">QA Automation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">inDriver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055301">Разработчик Scala</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Neoflex</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054720">QA Automation engineer (Platform)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Dino Systems (DINS)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054525">Инженер по нагрузочному тестированию</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054859">Data Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055183">iOS + Android Разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">MadApps</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052749">Разработчик Oracle</a></td> 
     <td class="city">Владивосток</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054459">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Агент Плюс</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000045266">Backend Developer (Middle/Senior)</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054341">Junior Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FINCH</td> 
     <td class="salary">До 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054968">Backend Developer (Go)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">А3</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051427">Back-end разработчик (Удаленная работа)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FINCH</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055038">Старший инженер по качеству данных</a></td> 
     <td class="city">Владивосток</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054463">Mobile QA Automation Engineer (iOS/Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036900">Android разработчик (Kotlin)</a></td> 
     <td class="city">Обнинск</td> 
     <td class="companyName">Arcanite LLC</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055099">Backend Developer / PHP-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бета Пресс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055123">Middle/Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Моризо Digital</td> 
     <td class="salary">От 120 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054005">Frontend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ticketland.ru</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055291">Инженер (Oracle Identity Manager)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055255">PHP программист 1С Битрикс (работа удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">INETME</td> 
     <td class="salary">От 30 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052753">Spring framework back-end developer</a></td> 
     <td class="city">Йошкар-Ола</td> 
     <td class="companyName">GXB Development</td> 
     <td class="salary">От 80 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054693">Back-end developer. Mercari (Токио Япония, Релокация)</a></td> 
     <td class="city">Токио</td> 
     <td class="companyName">MPDigital</td> 
     <td class="salary">От 6 000 до 9 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055230">Руководитель отдела разработки программного обеспечения</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сканкод</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050204">PHP программист со знанием 1С Битрикс (работа удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">INETME</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055000">Разработчик мобильных приложений под Android</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка – банк для предпринимателей</td> 
     <td class="salary">До 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054102">Разработчик-путешественник</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055234">Главный IT специалист Бэк-офис Британского банка</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Стерлинг</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000050089">Системный администратор Linux/DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054674">Full-stack Web Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KPMG</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000043826">Data Engineer</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054955">Frontend-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Авто-Траст</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055039">Technical Product Manager. Mercari Tokyo (Токио, Япония. Релокация)</a></td> 
     <td class="city">Токио</td> 
     <td class="companyName">MPDigital</td> 
     <td class="salary">От 6 000 до 10 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055195">Senior programmer (DAX, Axapta, Microsoft Dynamics AX)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Элемент Лизинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055026">Flutter разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">PIXAERO</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054623">Android Senior Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tunnel International Inc.</td> 
     <td class="salary">От 2 200 до 2 800 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054782">Android developer / Андроид разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">New Technologies</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051780">Backend-разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Legalbet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054484">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">inDriver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055198">Android разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Уральский Банк реконструкции и развития</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054839">PHP-программист (Middle+, удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Big Fish</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053968">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Мой Доктор</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055158">Тестировщик ПО / QA Engineer (Екатеринбург)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SquareGPS</td> 
     <td class="salary">От 60 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000048320">Android разработчик в AR мессенджер с машинным обучением</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Chudo</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055272">Ведущий системный аналитик (фронт-системы)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000047857">Middle/Senior React-Native Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Aline digital agency</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054821">Web-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ecomarket.ru</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054896">.NET/C#-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Litota Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054081">QA (Desktop), специалист по тестированию.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Sportmaster Lab</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053637">Разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">ИВС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054963">Senior PHP Developer, Laravel</a></td> 
     <td class="city"></td> 
     <td class="companyName">Autopilot</td> 
     <td class="salary">От 80 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054237">Flutter / Dart Developer (Уфа)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054993">Flutter / Dart Developer (Краснодар)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000051664">Пентестер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Chenii</td> 
     <td class="salary">От 1 500 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055001">Старший системный администратор Hadoop</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ПСБ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055134">Инженер службы эксплуатации</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055027">HTML-верстальщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Profee.Lab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055012">Frontend Developer</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053999">Senior Backend С# Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053994">Senior Backend Python Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Spark Equation</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055035">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SoftPro</td> 
     <td class="salary">От 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055122">Senior back-end developer (Ruby/ Python/ NodeJS/ Golang)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RedStone Capital</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049127">Frontend разработчик (Senior)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ГК "ЦИФРА"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055273">Инженер по тестированию</a></td> 
     <td class="city"></td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053613">Бэкенд-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053557">Бэкенд-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054586">Frontend-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Банк ПСБ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055059">DevOps</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027966">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053425">Копирайтер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">JUG Ru Group</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054988">DevOPS TeamLead / Techlead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YLab</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054687">Frontend-разработчик (Angular, Vue, React, Ionic)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Разумные Инвестиции</td> 
     <td class="salary">От 130 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054975">QA Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WEBINAR</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054143">QA-инженер «Единого клиента»</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053614">Бэкенд-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053611">Бэкенд-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053610">Бэкенд-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053612">Бэкенд-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052705">React Native Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SoftMediaLab</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055135">Middle QA Specialist</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Profee.Lab</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055005">DevOps разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка – банк для предпринимателей</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054931">IT HR менеджер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8BIT GROUP</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052700">Backend Engineer (Node)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SoftMediaLab</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055008">Scala разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Точка – банк для предпринимателей</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000049843">Senior Test Automation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АВИТО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000053345">DevOps engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054962">Senior PHP-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ruform (Pladform &amp; Rutube)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052896">Frontend разработчик (React)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SoftMediaLab</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000055278">Lead/Senior Automation QA (JS)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Exadel</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054845">Инженер DevOps / Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KALABI</td> 
     <td class="salary">От 130 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>